<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Denied</title>
</head>
<body>
    <h2>Access Denied</h2>
    <div class="container">
		<h1>Access Denied bcz you don't have appropriate role/authority</h1>
		<span th:text="${mydt}"></span>
    <div class="card-footer bg-info">
	</div>
	</div>
</body>
</html>
